./SupportTroubleshootingTool/ClassLibrary1/bin/
./SupportTroubleshootingTool/ClassLibrary1/obj/
./SupportTroubleshootingTool/WindowsFormsApp1/bin/
./SupportTroubleshootingTool/WindowsFormsApp1/obj/
./SupportTroubleshootingTool/.vs/